https://drive.google.com/file/d/1-GU9AMapxQnuNBZgJWha4oPU_Qps4AQl/view

In [1]:
import numpy as np
import pandas as pd

In [2]:
train_set=pd.read_csv('train_set.csv')
test_set=pd.read_csv('test_set.csv')

In [3]:
train_set.head(2)

,age,workclass,fnlwgt,education,education_num,marital_status,occupation,relationship,race,sex,capital_gain,capital_loss,hours_per_week,native_country,wage_class
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K

In [4]:
train_set.describe()

,age,fnlwgt,education_num,capital_gain,capital_loss,hours_per_week
count,32561.000000,3.256100e+04,32561.000000,32561.000000,32561.000000,32561.000000
mean,38.581647,1.897784e+05,10.080679,1077.648844,87.303830,40.437456
std,13.640433,1.055500e+05,2.572720,7385.292085,402.960219,12.347429
min,17.000000,1.228500e+04,1.000000,0.000000,0.000000,1.000000
25%,28.000000,1.178270e+05,9.000000,0.000000,0.000000,40.000000
50%,37.000000,1.783560e+05,10.000000,0.000000,0.000000,40.000000
75%,48.000000,2.370510e+05,12.000000,0.000000,0.000000,45.000000
max,90.000000,1.484705e+06,16.000000,99999.000000,4356.000000,99.000000

In [ ]:
train_set=train_set.drop('fnlwgt', axis=1)
train_set['wage_class']=train_set['wage_class'].replace([' <=50K', ' >50K'],[0,1])
train_set.head(2)

In [16]:
train_set.head(1)

,age,workclass,education,education_num,marital_status,occupation,relationship,race,sex,capital_gain,capital_loss,hours_per_week,native_country,wage_class
0,39,State-gov,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,0

In [21]:
y=train_set[['wage_class']]
x=train_set.drop('wage_class', axis=1)
x.head(1)

,age,workclass,education,education_num,marital_status,occupation,relationship,race,sex,capital_gain,capital_loss,hours_per_week,native_country
0,39,State-gov,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States

In [23]:
data_count={"col":[],'unique':[], "dtype":[]}
for i in x.columns:
    data_count['col'].append(i)
    data_count['unique'].append(len(train_set[i].unique()))
    data_count['dtype'].append(train_set[i].dtype)

data_count=pd.DataFrame(data_count)
data_count

               col  unique   dtype
0              age      73   int64
1        workclass       9  object
2        education      16  object
3    education_num      16   int64
4   marital_status       7  object
5       occupation      15  object
6     relationship       6  object
7             race       5  object
8              sex       2  object
9     capital_gain     119   int64
10    capital_loss      92   int64
11  hours_per_week      94   int64
12  native_country      42  object

In [48]:
int_col=np.array(data_count[data_count['dtype']=="int64"]['col'])
ord_col=np.array(data_count[data_count['dtype']=="object"]['col'])

In [49]:
from sklearn.preprocessing import OneHotEncoder, LabelEncoder
from sklearn.pipeline import Pipeline
from sklearn.compose import ColumnTransformer

In [51]:
import xgboost as xgb
ord_transformer=ColumnTransformer(
    transformers=[
        ("onehotencode", OneHotEncoder(drop='first'), ord_col)  
    ])


clf=Pipeline([
    ("ord_pre", ord_transformer),
    ('clf', xgb.XGBClassifier())
    ])
clf

Pipeline(steps=[('ord_pre',
                 ColumnTransformer(transformers=[('onehotencode',
                                                  OneHotEncoder(drop='first'),
                                                  array(['workclass', 'education', 'marital_status', 'occupation',
       'relationship', 'race', 'sex', 'native_country'], dtype=object))])),
                ('clf',
                 XGBClassifier(base_score=None, booster=None, callbacks=None,
                               colsample_bylevel=None, colsample_bynode=None,
                               colsample_by...
                               gamma=None, gpu_id=None, grow_policy=None,
                               importance_type=None,
                               interaction_constraints=None, learning_rate=None,
                               max_bin=None, max_cat_to_onehot=None,
                               max_delta_step=None, max_depth=None,
                               max_leaves=None, min_child_weight=None,
                               missing=nan, monotone_constraints=None,
                               n_estimators=100, n_jobs=None,
                               num_parallel_tree=None, predictor=None,
                               random_state=None, reg_alpha=None,
                               reg_lambda=None, ...))])

In [52]:
clf.fit(x,y)

Pipeline(steps=[('ord_pre',
                 ColumnTransformer(transformers=[('onehotencode',
                                                  OneHotEncoder(drop='first'),
                                                  array(['workclass', 'education', 'marital_status', 'occupation',
       'relationship', 'race', 'sex', 'native_country'], dtype=object))])),
                ('clf',
                 XGBClassifier(base_score=0.5, booster='gbtree', callbacks=None,
                               colsample_bylevel=1, colsample_bynode=1,
                               colsample_bytre...
                               gamma=0, gpu_id=-1, grow_policy='depthwise',
                               importance_type=None, interaction_constraints='',
                               learning_rate=0.300000012, max_bin=256,
                               max_cat_to_onehot=4, max_delta_step=0,
                               max_depth=6, max_leaves=0, min_child_weight=1,
                               missing=nan, monotone_constraints='()',
                               n_estimators=100, n_jobs=0, num_parallel_tree=1,
                               predictor='auto', random_state=0, reg_alpha=0,
                               reg_lambda=1, ...))])

In [71]:
test_set=test_set.drop('fnlwgt', axis=1)
test_set['wage_class']=test_set['wage_class'].replace([' <=50K.', ' >50K.'],[0,1])
test_set.head(2)

,age,workclass,education,education_num,marital_status,occupation,relationship,race,sex,capital_gain,capital_loss,hours_per_week,native_country,wage_class
0,25,Private,11th,7,Never-married,Machine-op-inspct,Own-child,Black,Male,0,0,40,United-States,0
1,38,Private,HS-grad,9,Married-civ-spouse,Farming-fishing,Husband,White,Male,0,0,50,United-States,0

In [75]:
x_test=test_set.drop('wage_class', axis=1)
y_test=test_set[['wage_class']]

In [77]:
y_pred=clf.predict(x_test)

In [79]:
from sklearn.metrics import classification_report

print(classification_report(y_test, y_pred))

              precision    recall  f1-score   support

           0       0.87      0.92      0.89     12435
           1       0.68      0.54      0.60      3846

    accuracy                           0.83     16281
   macro avg       0.77      0.73      0.75     16281
weighted avg       0.82      0.83      0.83     16281

In [81]:
clf.feature_names_in_

array(['age', 'workclass', 'education', 'education_num', 'marital_status',
       'occupation', 'relationship', 'race', 'sex', 'capital_gain',
       'capital_loss', 'hours_per_week', 'native_country'], dtype=object)

In [82]:
import joblib

joblib.dump(clf, "xgb_clf.pkl")

['xgb_clf.pkl']