https://drive.google.com/file/d/1EiJbmFL6jtbCqYs5UVKcOK2x7wWMKlDr/view

In [2]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import warnings
from sklearn.datasets import load_boston

warnings.filterwarnings('ignore')

%matplotlib inline

In [21]:
meta=load_boston()

x=pd.DataFrame(meta.data, columns=meta.feature_names)
x['target']=meta.target
x.head(2)

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,target
0,0.00632,18.0,2.31,0.0,0.538,6.575,65.2,4.0900,1.0,296.0,15.3,396.9,4.98,24.0
1,0.02731,0.0,7.07,0.0,0.469,6.421,78.9,4.9671,2.0,242.0,17.8,396.9,9.14,21.6

In [44]:
corrx=x.corr()
corrx=corrx[corrx>0.80].dropna(thresh=2).dropna(how='all', axis=1)
print(corrx)

          RAD       TAX
RAD  1.000000  0.910228
TAX  0.910228  1.000000

In [ ]:
#dropping RAD as it s highly corelated
x.drop('')

array([ 1.,  2.,  3.,  5.,  4.,  8.,  6.,  7., 24.])