https://drive.google.com/file/d/1EiJbmFL6jtbCqYs5UVKcOK2x7wWMKlDr/view

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import warnings
from sklearn.datasets import load_boston

warnings.filterwarnings('ignore')

%matplotlib inline

In [12]:
meta=load_boston()
x=pd.DataFrame(meta.data, columns=meta.feature_names)
x.head(2)

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT
0,0.00632,18.0,2.31,0.0,0.538,6.575,65.2,4.0900,1.0,296.0,15.3,396.9,4.98
1,0.02731,0.0,7.07,0.0,0.469,6.421,78.9,4.9671,2.0,242.0,17.8,396.9,9.14

In [13]:
y=pd.DataFrame(meta.target, columns=['target'])
y.head(2)

   target
0    24.0
1    21.6

In [14]:
corrx=x.corr()
corrx=corrx[corrx>0.80].dropna(thresh=2).dropna(how='all', axis=1)
print(corrx)

          RAD       TAX
RAD  1.000000  0.910228
TAX  0.910228  1.000000

In [15]:
#dropping RAD as it s highly corelated
x=x.drop('RAD', axis=1)
x.head()

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,TAX,PTRATIO,B,LSTAT
0,0.00632,18.0,2.31,0.0,0.538,6.575,65.2,4.0900,296.0,15.3,396.90,4.98
1,0.02731,0.0,7.07,0.0,0.469,6.421,78.9,4.9671,242.0,17.8,396.90,9.14
2,0.02729,0.0,7.07,0.0,0.469,7.185,61.1,4.9671,242.0,17.8,392.83,4.03
3,0.03237,0.0,2.18,0.0,0.458,6.998,45.8,6.0622,222.0,18.7,394.63,2.94
4,0.06905,0.0,2.18,0.0,0.458,7.147,54.2,6.0622,222.0,18.7,396.90,5.33

In [20]:
from sklearn.model_selection import train_test_split

x_train, x_test, y_train, y_test=train_test_split(x,y, test_size=0.2, random_state=2)
print(x_train.shape)
print(y_train.shape)
print(x_test.shape)
print(y_test.shape)

(404, 12)
(404, 1)
(102, 12)
(102, 1)

In [22]:
from sklearn.linear_model import LinearRegression

lin_reg=LinearRegression()
lin_reg_mod=lin_reg.fit(x_train, y_train)

In [27]:
import joblib
joblib.dump(lin_reg_mod, "lin_reg_mod.pkl") # saving the model

['lin_reg_mod.pkl']

In [36]:
y_pred=lin_reg_mod.predict(x_test)
from sklearn.metrics import mean_squared_error
lin_reg_mse= round(mean_squared_error(y_test, y_pred),2)

print(f"mean_squared_error = {lin_reg_mse}")

mean_squared_error = 18.5

In [37]:
lin_reg_mod.feature_names_in_

array(['CRIM', 'ZN', 'INDUS', 'CHAS', 'NOX', 'RM', 'AGE', 'DIS', 'TAX',
       'PTRATIO', 'B', 'LSTAT'], dtype=object)